In [1]:
import numpy as np
import pandas as pd

In [2]:
#Task 1

In [3]:
#You survey households in your area to find the average rent they are paying. Find the
#standard deviation from the following data:
#$1550, $1700, $900, $850, $1000, $950.


rent=[1550,1700,900,850,1000,950]
df=pd.DataFrame(rent)

In [4]:
df

      0
0  1550
1  1700
2   900
3   850
4  1000
5   950

In [6]:
avg=df.mean()
avg

0    1158.333333
dtype: float64

In [7]:
def variance(av, list):
    s=0
    for i in list:
        s=s+(av-i)**2
    return (s/len(list))

var=variance(avg, rent)

In [8]:
var

0    112847.222222
dtype: float64

In [9]:
stddev= var**0.5

In [10]:
print(stddev)

0    335.927406
dtype: float64

In [11]:
#2. Find the variance for the following set of data representing trees in California (heights in
#feet):
#3, 21, 98, 203, 17, 9
hieght=[3, 21, 98, 203, 17, 9]

In [12]:
df=pd.DataFrame(hieght)

In [13]:
df

     0
0    3
1   21
2   98
3  203
4   17
5    9

In [16]:
avg=df.mean()

In [17]:
var=variance(avg, hieght)

In [18]:
var

0    5183.25
dtype: float64

In [ ]:
#3. In a class on 100 students, 80 students passed in all subjects, 10 failed in one subject, 7 failed
#in two subjects and 3 failed in three subjects. Find the probability distribution of the variable for
#number of subjects a student from the given class has failed in.

#Probablity of student failed in 0 subject
#P(0) =80/100 : 0.8

#Probablity of student failed in 1 subject
#P(1) =10/100 : 0.1

#Probablity of student failed in 2 subject
#P(2) =7/100 : 0.07

#Probablity of student failed in 3 subject
#P(3) =3/100 : 0.03

In [ ]:
#Task 2:

#1. A test is conducted which is consisting of 20 MCQs (multiple choices questions) with every
#MCQ having its four options out of which only one is correct. Determine the probability that a
#person undertaking that test has answered exactly 5 questions wrong.

In [29]:
#To calculate Combination
import operator as op
import pandas as pd
import numpy as np
import functools 
def ncr(n, r):
    r = min(r, n-r)
    numer = functools.reduce(op.mul, range(n, n-r, -1), 1)
    denom = functools.reduce(op.mul, range(1, r+1), 1)
    return numer//denom

In [30]:
#Task2 : 1
#Probablity of getting correct answer in MCQ  1/4=0.25
#Probablity of getting wrong answer in MCQ 3/4=0.75
#We need to use bionomial theorem here as the events (each MCQ) is independent of each other
#Bionomila distribution formula nCr (p)r (1-p)n-r
#so here it will be  20 C 5 (0.25)5 (0.75)15

#calculating 20 C 5
import functools 
pos= ncr(20,5)
pos

15504

In [31]:
ans= pos*(0.25**5)*(0.75**15)

In [32]:
print(ans)

0.2023311518569244

In [33]:
#2. A die marked A to E is rolled 50 times. Find the probability of getting a “D” exactly 5 times.
#Solution
#Die have 5 faces, so probablity of getting D is - 1/5 (success)
#Proababity of getting it exactly 5 times can be calulated using Bionomial distribution
# Formula will be 50 C 5 (1/5)5 (4/5)45
pos=ncr(50,5)
pos

2118760

In [38]:
ans= pos*(0.2**5)*(0.8**45)

In [39]:
print(ans)

0.029531204310524296

In [41]:
#3 Two balls are drawn at random in succession without replacement from an urn containing 4
#red balls and 6 black balls.
#Find the probabilities of all the possible outcomes.

#There are total 4 cases possible, RR, RB, BR and BB

#For Case 1:  Total Balls 10, Probality of Picking 1 REd ball 4C1/10C1, Second RED Ball without replacement 3C1/9C1
p1= 4/10*3/9

print (p1)

0.13333333333333336

In [42]:
#For Case 2, RB : 4C1/10C1 and for black 6C1/9C1

p2= 4/10*6/9
print (p2)

0.2666666666666667

In [43]:
#For Case 3, BR : 6C1/10C1 and for Red 4C1/9C1

p3= 6/10*4/9
print (p3)

0.26666666666666666

In [44]:
#For Case 4, BB : 6C1/10C1 and for Red 5C1/9C1

p4= 6/10*5/9
print (p4)

0.3333333333333333